body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
img.pull-left {
  margin: 15px 15px 15px 0;
}
img.pull-right {
  margin: 15px 0 15px 15px;
}
img {
  width: 300px;
}
